<ion-view title="About this app">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="10"class="has-header">
    <h3>Thank you for downloading this app</h3>
		
			The app has been designed keeping simplicity and functionality in mind. The prayers are to be recited in that order arranged in the menu.</p> 

      <p>To keep the app size to a minimum, all sounds are streamed from soundcloud.com </p>

      <p>We have also made the audio down-loadable from soundcloud.com for free, here is the <a href="https://soundcloud.com/conserve_tibet/sets/daily-buddhist-prayers">link</a> and the entire source code of this app is also available for you to download and play with at  <a href="https://github.com/vajradog/Daily-Buddhist-Prayers">github.</a> </p>

      <p>Hope you have a joyous day.</p>
      
  </ion-content>
</ion-view>