<ion-view title="Buddha Shakyamuni">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="10"class="has-header">
  <br>
  <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/173009458&amp;color=ff5500&amp;inverse=false&amp;auto_play=true&amp;show_user=false"></iframe>
    <h3>Buddha Shakyamuni</h3>
			<font color="brown"><strong>THAB-KHEY THUG-JHEY SHAK-YAI RIG TRUNG-SHING</font></strong><br/>
			To you, who by skillful means of compassion were born of the Shakyan race, <br/><br/>

			<font color="brown"><strong>SHEN-GYI ME-THUB DHUD-KYI POONG-JHOM PA</font></strong><br/>
			who cannot be conquered by others, who overcomes the demonic forces, <br/><br/>

			<font color="brown"><strong>SER-GYI LHUN-PO TA-BHUR JID-PAI KU</font></strong><br/>
			and whose body is radiant like Mount Sumeru. <br/><br/>

			<font color="brown"><strong>SHAK-YAI GYAL-PO KHYE LA CHAG-TSEL LO</font></strong><br/>
			At your lotus feet, King of Shakyas, I pay homage.<br/><br/>


  </ion-content>
</ion-view>